.content{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    height:40vh;
    width:30vh;
    position: relative;
    top: 25vh;
    gap: 8vh;
    font-size: 3vh;
    padding: 4vh;
    background-color: orange;
    margin-left: 50vh;
}

.input{
    display: flex;
    gap:2vh;
}

#title, #description, #dueDate{
    font-size: 1.5vh;
}

.formButtons{
    display: flex;
    gap: 10vh;
}

.formButtons button{
    height:5vh;
    width: 10vh;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    background-color: #48BF91;
}

.formButtons button:hover{
    color: black;
}
.radio{
    background-color: orange;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height:20vh;
    width:40vh;
    position: relative;
    top:30vh;
    margin-left: 50vh;
}

.radioText{
   font-size: 5vh;
}

.radioButtons{
    display: flex;
    gap: 1vh;
}

.radioButtons label{
    font-size: 3vh;
    font-weight: bold;
}

.radioButtons input{
    size: 3vh;
}

.confirmButton{
    height:5vh;
    width: 10vh;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    background-color: #48BF91;
}

.confirmButton:hover{
    color: black;
}

